In [1]:
import pandas as pd

In [2]:
 data = {
    'Name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Helen', 'Ian', 'Jane',
        'Karl', 'Laura', 'Mike', 'Nina', 'Oscar', 'Paula', 'Quentin', 'Rachel', 'Steve', 'Tina',
        'Uma', 'Victor', 'Wendy', 'Xander', 'Yara', 'Zane'
    ],
    'Department': [
        'HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'Marketing', 'Sales', 'HR',
        'IT', 'Finance', 'Sales', 'Marketing', 'IT', 'HR', 'Finance', 'Sales', 'IT', 'Marketing',
        'HR', 'Finance', 'Sales', 'IT', 'Marketing', 'Finance'
    ],
    'Salary': [
        50000, 60000, 55000, 70000, 48000, 62000, 65000, 52000, 58000, 51000,
        75000, 53000, 60000, 57000, 67000, 49500, 61000, 59000, 72000, 54000,
        47000, 56000, 61000, 68000, 55000, 64000
    ],
    'Join_Date': [
        '2020-05-21', '2019-03-15', '2021-07-10', '2018-11-01', '2022-01-05', '2017-09-12',
        '2020-06-30', '2019-08-20', '2021-02-11', '2020-12-01', '2016-04-25', '2019-11-15',
        '2020-03-03', '2022-04-10', '2018-07-18', '2017-10-22', '2015-05-09', '2020-09-14',
        '2021-01-19', '2016-12-30', '2023-01-11', '2018-02-27', '2019-06-06', '2020-08-08',
        '2021-03-22', '2017-01-17'
    ]

}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

       Name Department  Salary   Join_Date
0     Alice         HR   50000  2020-05-21
1       Bob         IT   60000  2019-03-15
2   Charlie    Finance   55000  2021-07-10
3     David         IT   70000  2018-11-01
4       Eva         HR   48000  2022-01-05
5     Frank    Finance   62000  2017-09-12
6     Grace         IT   65000  2020-06-30
7     Helen  Marketing   52000  2019-08-20
8       Ian      Sales   58000  2021-02-11
9      Jane         HR   51000  2020-12-01
10     Karl         IT   75000  2016-04-25
11    Laura    Finance   53000  2019-11-15
12     Mike      Sales   60000  2020-03-03
13     Nina  Marketing   57000  2022-04-10
14    Oscar         IT   67000  2018-07-18
15    Paula         HR   49500  2017-10-22
16  Quentin    Finance   61000  2015-05-09
17   Rachel      Sales   59000  2020-09-14
18    Steve         IT   72000  2021-01-19
19     Tina  Marketing   54000  2016-12-30
20      Uma         HR   47000  2023-01-11
21   Victor    Finance   56000  2018-02-27
22    Wendy      Sales   61000  2019-06-06
23   Xander         IT   68000  2020-08-08
24     Yara  Marketing   55000  2021-03-22
25     Zane    Finance   64000  2017-01-17

In [5]:
df['join_date'] = pd.to_datetime(df['Join_Date'])

In [9]:
filter1 = df[df['Join_Date']>'2020-01-01']

In [10]:
print("employees who joined after January 1, 2020:")
print(filter1[['Name','Join_Date']])

employees who joined after January 1, 2020:
       Name   Join_Date
0     Alice  2020-05-21
2   Charlie  2021-07-10
4       Eva  2022-01-05
6     Grace  2020-06-30
8       Ian  2021-02-11
9      Jane  2020-12-01
12     Mike  2020-03-03
13     Nina  2022-04-10
17   Rachel  2020-09-14
18    Steve  2021-01-19
20      Uma  2023-01-11
23   Xander  2020-08-08
24     Yara  2021-03-22

In [11]:
sv = df.groupby('Department')['Salary']
print(sv)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7997a53ab850>

In [12]:
print("average salary by department:")
print(sv.mean())

average salary by department:
Department
Finance      58500.000000
HR           49100.000000
IT           68142.857143
Marketing    54500.000000
Sales        59500.000000
Name: Salary, dtype: float64

In [13]:
highestavg = sv.max()

In [15]:
deptname = sv.idxmax()
print(f'{highestavg} {deptname}')

Department
Finance      64000
HR           51000
IT           75000
Marketing    57000
Sales        61000
Name: Salary, dtype: int64 Department
Finance      25
HR            9
IT           10
Marketing    13
Sales        22
Name: Salary, dtype: int64

In [16]:
from datetime import date

In [17]:
df['Join_Date'] = pd.to_datetime(df['Join_Date'])

In [18]:
today = date.today()
df['total_years_worked']=(pd.to_datetime(today)-df['Join_Date'])/365

In [19]:
df

       Name Department  Salary  Join_Date  join_date        total_years_worked
0     Alice         HR   50000 2020-05-21 2020-05-21 4 days 18:08:52.602739726
1       Bob         IT   60000 2019-03-15 2019-03-15 5 days 22:37:09.041095890
2   Charlie    Finance   55000 2021-07-10 2021-07-10 3 days 14:51:36.986301369
3     David         IT   70000 2018-11-01 2018-11-01 6 days 07:25:48.493150684
4       Eva         HR   48000 2022-01-05 2022-01-05 3 days 03:05:25.479452054
5     Frank    Finance   62000 2017-09-12 2017-09-12 7 days 10:43:04.109589041
6     Grace         IT   65000 2020-06-30 2020-06-30 4 days 15:31:04.109589041
7     Helen  Marketing   52000 2019-08-20 2019-08-20 5 days 12:13:48.493150684
8       Ian      Sales   58000 2021-02-11 2021-02-11 4 days 00:39:27.123287671
9      Jane         HR   51000 2020-12-01 2020-12-01 4 days 05:23:30.410958904
10     Karl         IT   75000 2016-04-25 2016-04-25 8 days 19:55:23.835616438
11    Laura    Finance   53000 2019-11-15 2019-11-15 5 days 06:30:34.520547945
12     Mike      Sales   60000 2020-03-03 2020-03-03 4 days 23:20:32.876712328
13     Nina  Marketing   57000 2022-04-10 2022-04-10 2 days 20:50:37.808219178
14    Oscar         IT   67000 2018-07-18 2018-07-18           6 days 14:24:00
15    Paula         HR   49500 2017-10-22 2017-10-22 7 days 08:05:15.616438356
16  Quentin    Finance   61000 2015-05-09 2015-05-09 9 days 19:04:06.575342465
17   Rachel      Sales   59000 2020-09-14 2020-09-14 4 days 10:31:13.972602739
18    Steve         IT   72000 2021-01-19 2021-01-19 4 days 02:10:11.506849315
19     Tina  Marketing   54000 2016-12-30 2016-12-30 8 days 03:33:02.465753424
20      Uma         HR   47000 2023-01-11 2023-01-11 2 days 02:41:45.205479452
21   Victor    Finance   56000 2018-02-27 2018-02-27 6 days 23:40:16.438356164
22    Wendy      Sales   61000 2019-06-06 2019-06-06 5 days 17:09:41.917808219
23   Xander         IT   68000 2020-08-08 2020-08-08 4 days 12:57:12.328767123
24     Yara  Marketing   55000 2021-03-22 2021-03-22 3 days 22:05:35.342465753
25     Zane    Finance   64000 2017-01-17 2017-01-17 8 days 02:22:01.643835616

In [20]:
df1 = df.sort_values(by='total_years_worked',ascending=False)

In [21]:
df1

       Name Department  Salary  Join_Date  join_date        total_years_worked
16  Quentin    Finance   61000 2015-05-09 2015-05-09 9 days 19:04:06.575342465
10     Karl         IT   75000 2016-04-25 2016-04-25 8 days 19:55:23.835616438
19     Tina  Marketing   54000 2016-12-30 2016-12-30 8 days 03:33:02.465753424
25     Zane    Finance   64000 2017-01-17 2017-01-17 8 days 02:22:01.643835616
5     Frank    Finance   62000 2017-09-12 2017-09-12 7 days 10:43:04.109589041
15    Paula         HR   49500 2017-10-22 2017-10-22 7 days 08:05:15.616438356
21   Victor    Finance   56000 2018-02-27 2018-02-27 6 days 23:40:16.438356164
14    Oscar         IT   67000 2018-07-18 2018-07-18           6 days 14:24:00
3     David         IT   70000 2018-11-01 2018-11-01 6 days 07:25:48.493150684
1       Bob         IT   60000 2019-03-15 2019-03-15 5 days 22:37:09.041095890
22    Wendy      Sales   61000 2019-06-06 2019-06-06 5 days 17:09:41.917808219
7     Helen  Marketing   52000 2019-08-20 2019-08-20 5 days 12:13:48.493150684
11    Laura    Finance   53000 2019-11-15 2019-11-15 5 days 06:30:34.520547945
12     Mike      Sales   60000 2020-03-03 2020-03-03 4 days 23:20:32.876712328
0     Alice         HR   50000 2020-05-21 2020-05-21 4 days 18:08:52.602739726
6     Grace         IT   65000 2020-06-30 2020-06-30 4 days 15:31:04.109589041
23   Xander         IT   68000 2020-08-08 2020-08-08 4 days 12:57:12.328767123
17   Rachel      Sales   59000 2020-09-14 2020-09-14 4 days 10:31:13.972602739
9      Jane         HR   51000 2020-12-01 2020-12-01 4 days 05:23:30.410958904
18    Steve         IT   72000 2021-01-19 2021-01-19 4 days 02:10:11.506849315
8       Ian      Sales   58000 2021-02-11 2021-02-11 4 days 00:39:27.123287671
24     Yara  Marketing   55000 2021-03-22 2021-03-22 3 days 22:05:35.342465753
2   Charlie    Finance   55000 2021-07-10 2021-07-10 3 days 14:51:36.986301369
4       Eva         HR   48000 2022-01-05 2022-01-05 3 days 03:05:25.479452054
13     Nina  Marketing   57000 2022-04-10 2022-04-10 2 days 20:50:37.808219178
20      Uma         HR   47000 2023-01-11 2023-01-11 2 days 02:41:45.205479452

In [22]:
df.to_csv('updated_pandas operation.csv')